*{
    margin: 0;
    padding: 0;
    color: rgb(179, 26, 26);
}

body {
    background-image: url('img/fundo_2.jpg');
    max-width: 100%;
    min-height: 90vh;
    min-height: 90svh; /* Ocupa 100% da ALTURA da tela (vh = viewport height) */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: optimizeQuality; 
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.fundo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(244, 238, 224, 0.8);
    width: 80%;
    margin: auto;
    /*margin-top: 50vh;*/
    border-radius: 25px;
    height: auto;
}

.texto-titulo {
    display: block;
    align-items: center;
    text-align: center;
    font-style: oblique;
} .cor-diferente {
    color: rgb(107, 104, 104);
    font-size: 1.7rem;
    text-shadow: 0.5px 0.5px 0.6px rgba(97, 95, 95, 0.589);
} 

.nome-participante {
    margin-top: 2vh;
    display: flex;
    height: auto;
    align-items: center;
    padding: 5px;
}
.entrada-nome {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}
.digitando-nome {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 14px;
    color: black;
    height: 40px;
    width: auto;
    margin-right: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0.3px 0.3px 0.4px rgb(110, 104, 104);
}

.container__botao {
    padding: 20px;
}

.container__botao button{
    text-align: center;
    width: 150px;
    height: 40px;
    background-color: rgb(43, 43, 44);
    border: none;
    cursor: pointer;
    border-radius: 20px;
    padding: auto;
    transition: transform 0.5s ease-in-out;
} .container__botao button:hover {
    transform: scale(1.1);
    background-color: #4d4b58c2;
    box-shadow: 0 0 15px rgba(145, 156, 167, 0.7);
    border: 1px solid rgb(116, 116, 141);
} .container__sortear {
    font-size: 1.1em;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    padding: 5px;
    color: rgb(238, 233, 233);
}

.container__botao button:disabled {
    background-color: #535252;
    opacity: 0.6;
    cursor: not-allowed; /* Altere o cursor para indicar que não é clicável */
    transform: none;
    box-shadow: none;
} .container__botao button:disabled:hover {
    transform: none;
    background-color: #555; 
    cursor: not-allowed;
    box-shadow: none;
}

.container__texto {
    text-align: center;
    padding: 10px;
}

.texto__paragrafo {
    font-size: 1.1em;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    padding: 5px;
}

